html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

html, body{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: rgb(11, 11, 11);
    font-weight: bold;
    letter-spacing: 1px;
}

section{
    padding: 10px 0;
}

a{
    text-decoration: none;
    color: rgb(11, 11, 11);
}

a:hover{
    color: #499dcb;
    transform: scale(1.5);
}

ul{
    padding:0;
    margin: 0;
}
li{
    list-style-type: none;
}

header{
    min-height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-weight: lighter;
}

header li{
    padding: 0 3px;
}

header li:hover{
    transform: scale(1.2);
    transition: transform 0.25s;
}

header h1{
    width: 15%;
    font-family: 'Anton', sans-serif;
    margin: 0;
    display: inline-block;
} 
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    transition: font-size 0.7s;
    font-size: 12px;

}
nav ul{ 
    display: inherit;
    justify-content: space-evenly;
    width: 100%;
}
.landing{
    background-image: url("../images/abstract.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: rgb(28, 28, 28);
    margin-bottom: 20px;
}

.landing h1{
    transition: font-size 0.5s;

}

.about-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.about-container ul{
    display: inline-block;
    margin-left: 20px;
    width: 55%;
}

.about-container li{
    padding: 10px 0;
}

.head-shot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.head-shot img{
    width: 100%;
    height: 50%;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
}


.bio{
    padding: 5px 20px;
    width: 100%;
}
.banner{
    font-family: 'Anton', sans-serif;
    color: white;
    background-image: url("../images/hand-keys.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 150px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    margin: 0;
}

.project-cards, .side-projects{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.cards{
    width: 100%;
    min-height: 300px;
    /* max-height: 500px; */
    padding-bottom: 20px;
}
.cards h2{
    text-align: center;
    margin-top: 5px;
}

.cards img{
    width: 100%;
    padding: 0 auto;
    margin:0 auto;
    max-height: 300px;
}

.cards p{
    display: inline-block;
    padding: 10px 5px 25px 5px;
    margin: 0;
}

.skills-banner{
    background-image: url("../images/code.png");
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: rgb(53, 53, 53);
}

.container{
    width: 40%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-align: center;
}

.container .fab{
    font-size: 60px;
}
.container img{
    width: 80px;
}

.side-banner{
    background-image: url("../images/mixer.jpeg");
}
.side-projects{
    padding: 10px;
    justify-content: space-between;
    text-align: center;
}

.side-projects .cards img{
   height: 70%;
   display: inherit;
   align-items: center;
}

.contact-banner{
    background-image: url("../images/phone.jpeg");
    background-position: top center;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}
.contact {
    display: inherit;
    width: 100%;
    justify-content:space-evenly;
}

.contact li a{
    font-size: 36px;
    padding: 5px 10px;
    color: rgb(11, 11, 11);
}

.contact i:hover{
    color: #499dcb;
    transform: scale(1.5);
    transition: transform 0.25s;
}

.footer ul{
    margin: 0;
}


@media screen and (min-width: 500px){

    nav{
        font-size: 22px;
    }
    .about{
        font-size: 18px;
    }

    .head-shot{
        width: 40%;
    }

    .bio{
        width: 55%;
        padding: 0;
    }
    .container{
        width: 30%;
    }
    .project-cards{
        justify-content: center;
    }
    .cards{
        width: 49%;
    }

    .contact{
        justify-content: space-around;
    }
}




@media screen and (min-width:768px){

    .landing h1{
        font-size: 40px;
    }
    .about{
        font-size: 22px;
    }
    nav{
        display: flex;
        justify-content: center;
        font-size: 150%;
    }


    .container{
        width: 25%;
    }

    .contact{
        justify-content: center;
    }
}

@media screen and (min-width: 900px){
    header{
        justify-content: flex-end;
        align-items: flex-end;
    }

    .project-cards{
        justify-content: center;
    }
}

@media screen and (min-width: 1100px){
    header h1{
        width: 100px;
    }
    .container{
        width: 15%;
    }
    .side-projects{
        justify-content: space-evenly;
    }
    .side-projects .cards{
        width: 49%;
    }
}

@media screen and (min-width: 1400px){
    .project-cards{
        justify-content: center;
    }
    .cards{
        width: 49%;
    }
    
    
}